


    
<!-- <div class="container parent-container"> -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="/post/{{id}}">{{post_title}}</a></h5>
        <p class="card-text">{{post_content}}</p>
    </div>
    <h6 class="card-footer">Created by: {{user.name}} @ {{format_date created_at}}</h6>
</div>

</div>